/* for the ec ques no  */
.questionNo {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* .selectedBtn {
  -webkit-box-shadow: inset 0 0 30px rgb(13, 102, 1);
  -moz-box-shadow: inset 0 0 30px rgb(13, 102, 1);
  box-shadow: inset 0 0 30px rgb(13, 102, 1);
} */
.questionNo :hover {
  cursor: pointer;
}
.unSeenUnMarked {
  /* background-color: rgb(225, 252, 219); */
  background-color: #f7bbbb;
}
.checkedMarked {
  background-color: rgb(11, 221, 4);
  border: 4px solid black;
}
.checkedUnMarked {
  background-color: rgb(11, 221, 4);
}
.seenMarked {
  /* background-color: rgb(247, 247, 36); */
  background-color: #9dddab;
  border: 4px solid black;
}
.seenUnMarked {
  background-color: #9dddab;
}

/* for the action  */
.clickBtn button {
  /* background: #f4f4f4; */
  border-radius: 4px;
  border: none;
  padding: 13px 20px 13px 38px;
  display: flex;
  align-items: center;
  font-weight: 400;
}

.clickBtn {
  margin-bottom: 0px;
  display: flex;
  align-items: center;
}

/* for the header  */

.resultBtn button {
  /* background: #d8d1d1; */
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  padding: 10px 30px;
  color: black;
  border: none;
}

.resultBtn {
  text-align: right;
}

/* for question options  */

.eachChoices {
  /* background: #f4f4f4;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 5px 10px; */
}

.quesChoices input[type="radio"]:checked {
  background-color: #4cb08f;
  width: 24px;
  height: 24px;
  border: 6px solid #4cb08f;
}

.quesChoices input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 2px solid #d9d9d9;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  /* margin-right: 38px; */
  background-color: #d9d9d9;
}
.quesChoices input[type="checkbox"]:checked {
  background-color: #4cb08f;
  width: 24px;
  height: 24px;
  border: 6px solid #4cb08f;
}

.quesChoices input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 2px solid #d9d9d9;
  /* border-radius: 50%; */
  width: 24px;
  height: 24px;
  /* margin-right: 38px; */
  background-color: #d9d9d9;
}
